img {
  border-radius: 30px;
  max-width: 500px;
  max-height: 400px;
  display: block;
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *:after {
  box-sizing:inherit;
}
.header{
  background: ;
  min-height: ;
  position: ;
  top:0;
  width:100%;
}


h1 {
  color: rgb(21, 37, 182);
}

.body{
  background: linear-gradient(90deg, rgba(0,29,36,1) 0%, rgba(12,181,172,1) 18%, rgba(6,134,155,1) 38%, rgba(3,138,181,1) 59%, rgba(0,164,255,1) 79%);
  max-width: 1000px;
  margin: 0 auto;
  
  background-size: cover;
  background-attachment: local;
  
}
.navigation{
  display: flex;
  justify-content: center;
  background-color: rgb(255,255,255,0.4);
  width: auto;
  height: 40px;
}


.navigation__link {
  
  margin-left: 30px;
      margin-top: 10px;
      text-decoration: none;
      font-weight: bold;
}

.main__title {
 padding:0 16px 16px 16px;
 margin:auto;
}

.header__name {
  padding: 0px 40px 0px 100px;
  }
.header__name--h1{
  background: rgb(255,255,255,0.5);
  
}

.section {
  display: inline ;
  ;
}
.section__who {
  color: black;
  margin: 0px 820px 15px 30px;
  background: rgb(255,255,255,0.3);
}
}

.section__aboutMe{
    padding :16px;
    border: 1px #ccc solid;
    background-color: rgb(255,255,255,0.6);
}

.notes__Week {
  color: blue;
  padding-left: 110px;
}
.kalendarz {
  margin: 40px 40px 0 40px;
  border-radius: 20px;
  background: rgb(255,255,255,0.3);
  max-height: 200px;
}
.notes {
  padding: 0 30px 0 100px;
  display: ;
}
.notes__body{
  background: linear-gradient(90deg, rgba(0,29,36,1) 0%, rgba(12,181,172,1) 18%, rgba(6,134,155,1) 38%, rgba(3,138,181,1) 59%, rgba(0,164,255,1) 79%);
}
.notes__footer{
  background: rgb(255,255,255,0.8);

  color: #03188d;
  display: flex;
}
.notes__main {
  display: flex;
}
.notes__text {
  margin-left: 40px;
  margin-right: 250px;
  border: 1px #ccc solid;
  padding: 16px
}

.klasa-z-js {
  background: blue;
}



